@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@font-face {
  font-family: "Modam";
  src: url("/assets/font/modam/Modam-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Modam";
  src: url("/assets/font/modam/Modam-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Modam";
  src: url("/assets/font/modam/Modam-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Modam";
  src: url("/assets/font/modam/Modam-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Modam";
  src: url("/assets/font/modam/Modam-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Modam";
  src: url("/assets/font/modam/Modam-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Modam";
  src: url("/assets/font/modam/Modam-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Modam";
  src: url("/assets/font/modam/Modam-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

/* font for leaflet lib */

/* Leaflet Popup Text */
.leaflet-popup-content {
  font-family: "Modam", Arial, Helvetica, sans-serif !important;
}

/* Leaflet Controls (Zoom buttons, etc.) */
.leaflet-control {
  font-family: "Modam", Arial, Helvetica, sans-serif !important;
}

/* Tooltips (if using Leaflet tooltips) */
.leaflet-tooltip {
  font-family: "Modam", Arial, Helvetica, sans-serif !important;
}

/* Attribution text at bottom-right */
.leaflet-container .leaflet-control-attribution {
  font-family: "Modam", Arial, Helvetica, sans-serif !important;
}

/* roots */
/* :root {
  --background: rgb(211, 211, 211);
  --foreground: white;
  --box: #b5b5b3;
  --button-background: #000000;
  --header-background: #303030;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --BoxColor: var(--box);
} */

/* @media (prefers-color-scheme: dark) { */
:root {
  --background: rgb(53, 53, 53);
  --foreground: rgb(229, 228, 226);
  --blue: #238fab;
  --box: #232323;
  --button-background: #000000;
  --header-background: #303030;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --BoxColor: var(--box);
}
/* } */

html,
body {
  min-height: 100vh;
  height: 100%;
}

html {
  background-color: var(--background);
  /* urgba(135, 135, 135, 0.7)g"); <-- Replace with your actual pattern path */
  /* background-size: cover, auto;
  background-position: center, center;
  background-repeat: no-repeat, repeat;
  background-attachment: fixed, fixed; */
}

body {
  color: var(--foreground);
  font-family: "Modam", Arial, Helvetica, sans-serif;
  /* background: transparent; */
}

label,
input[type="checkbox"],
input[type="radio"] {
  cursor: pointer;
}

/* carousel */

[class^="number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 200px;
  max-height: 100vh;
}

.SLIDES {
  background: rgb(43, 43, 43);
  background: linear-gradient(
    128deg,
    rgb(45, 45, 45) 0%,
    rgba(45, 45, 45) 100%
  );
}
/* .number-slide1 {
  background: rgb(64, 175, 255);
  background: linear-gradient(
    128deg,
    rgba(64, 175, 255, 1) 0%,
    rgba(63, 97, 255, 1) 100%
  );
}

.number-slide2 {
  background: rgb(255, 75, 64);
  background: linear-gradient(
    128deg,
    rgba(255, 154, 63, 1) 0%,
    rgba(255, 75, 64, 1) 100%
  );
}

.number-slide3 {
  background: rgb(182, 255, 64);
  background: linear-gradient(
    128deg,
    rgba(182, 255, 64, 1) 0%,
    rgba(63, 255, 71, 1) 100%
  );
  background: linear-gradient(
    128deg,
    rgba(189, 255, 83, 1) 0%,
    rgba(43, 250, 82, 1) 100%
  );
}

.number-slide4 {
  background: rgb(64, 255, 242);
  background: linear-gradient(
    128deg,
    rgba(64, 255, 242, 1) 0%,
    rgba(63, 188, 255, 1) 100%
  );
}

.number-slide5 {
  background: rgb(255, 64, 156);
  background: linear-gradient(
    128deg,
    rgba(255, 64, 156, 1) 0%,
    rgba(255, 63, 63, 1) 100%
  );
}

.number-slide6 {
  background: rgb(64, 76, 255);
  background: linear-gradient(
    128deg,
    rgba(64, 76, 255, 1) 0%,
    rgba(174, 63, 255, 1) 100%
  );
} */

.wrapper {
  display: flex;
  justify-content: center;
}
.scene {
  width: 260px;
  height: 200px;
  /* perspective: 500px; */
  position: relative;
}
.scene .carousel.keen-slider {
  width: 100%;
  height: 100%;
  overflow: visible;
  position: absolute;
  transform: translateZ(-288px);
  transform-style: preserve-3d;
}
.carousel__cell {
  position: absolute;
  width: 240px;
  left: 10px;
  height: 200px;
}
