@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@font-face {
  font-family: "Modam";
  src: url("/assets/font/modam/Modam-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Modam";
  src: url("/assets/font/modam/Modam-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Modam";
  src: url("/assets/font/modam/Modam-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Modam";
  src: url("/assets/font/modam/Modam-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Modam";
  src: url("/assets/font/modam/Modam-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Modam";
  src: url("/assets/font/modam/Modam-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Modam";
  src: url("/assets/font/modam/Modam-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Modam";
  src: url("/assets/font/modam/Modam-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

/* font for leaflet lib */

/* Leaflet Popup Text */
.leaflet-popup-content {
  font-family: "Modam", Arial, Helvetica, sans-serif !important;
}

/* Leaflet Controls (Zoom buttons, etc.) */
.leaflet-control {
  font-family: "Modam", Arial, Helvetica, sans-serif !important;
}

/* Tooltips (if using Leaflet tooltips) */
.leaflet-tooltip {
  font-family: "Modam", Arial, Helvetica, sans-serif !important;
}

/* Attribution text at bottom-right */
.leaflet-container .leaflet-control-attribution {
  font-family: "Modam", Arial, Helvetica, sans-serif !important;
}

/* roots */
:root {
  --background: #4c4b4b;
  --foreground: white;
  --box: #b5b5b3;
  --button-background: #000000;
  --header-background: #303030;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --BoxColor: var(--box);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #4c4b4b;
    --foreground: white;
    --box: #232323;
    --button-background: #000000;
    --header-background: #303030;
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --BoxColor: var(--box);
  }
}

html,
body {
  min-height: 100vh;
  height: 100%;
}

html {
  background: url("/assets/img/wallpaper.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  color: var(--foreground);
  font-family: "Modam", Arial, Helvetica, sans-serif;
  /* background: transparent; */
}

label,
input[type="checkbox"],
input[type="radio"] {
  cursor: pointer;
}
